 * {
     text-align: center;
     font-family: monospace;
 }

 #text {
     text-shadow: 2px 2px 1px #CC5500;
     /* (right-offset)px (left-offset)px (fade)px color */
 }

 #box {
     box-shadow: 9px 9px 5px #301934;
     /* (right-offset)px (left-offset)px (fade)px color */
 }

 #indent {
     text-indent: 50%; //16px or -3em
 }